@import 'tailwindcss/preflight';
@tailwind utilities;

/* Your custom global styles here */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1ede8; /* Mocha Mousse */
  color: #2c3e50; /* Sophisticated Blue */
}

/* Example: add smooth transition for color changes */
* {
  transition: color 0.3s ease, background-color 0.3s ease;
}
